.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-one-fourth {
  width: calc(100% / 4);
}

.column-full,
.column-half {
  width: 100%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.card-container-favorites {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
