body {
  background-color: #f2f2f4;
  font-family: Roboto, sans-serif;
}

.heading-background {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-delicious-winter-hot-pot-background-design-pot-backgroundhot-pothot-image_85318.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.search-page-text {
  font-weight: 300;
  color: white;
  font-size: 36px;
  text-align: center;
  white-space: pre-line;
  margin: auto;
  margin-top: 50px;
}

.heading {
  color: white;
  font-size: 10px;
  background-color: #cc97d4;
}

.button {
  color: white;
  background-color: #cc97d4;
  border: none;
  font-size: small;
  padding: 5px 14px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.submit-btn {
  float: right;
  width: 100%;
  padding: 11px 14px;
  margin-top: 15px;
}

.favorites-btn {
  float: right;
  width: 100px;
  padding: 11px 14px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

label {
  font-size: 15px;
  font-weight: bold;
}

.search-box-style {
  margin-bottom: 14px;
  margin-top: 14px;
}

.search-box {
  margin-bottom: 14px;
  margin-top: 10px;
}

.logo {
  width: 100%;
  cursor: pointer;
}

.image-recipe {
  height: 100%;
  width: 90px;
}

input {
  width: 100%;
  height: 40px;
  border: solid lightgray 1px;
  border-radius: 3px;
  margin-top: 20px;
}

input:focus {
  outline: none;
  border: solid #562b81 2px;
}

h1 {
  font-weight: 100;
  font-size: 30px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.card-container-favorites {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.recipe-list {
  border: solid;
  border-color: lightgray;
  border-radius: 10px;
  border-width: 1px;
  overflow: hidden;
  display: inline-flex;
  margin-bottom: 10px;
  height: 90px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.recipe-photo {
  width: 100px;
  overflow: hidden;
  cursor: pointer;
}

.recipe-title {
  width: 50%;
}

.recipe-para {
  font-size: 10px;
  padding-top: 15px;
  color: #208bff;
}

.recipe-details-title {
  text-align: center;
  letter-spacing: 1px;
}

.recipe-details-photo {
  width: 100%;
}

h3 {
  font-size: 14px;
  font-weight: bolder;
  padding-left: 4px;
}

li {
  font-weight: 300;
  font-size: 14px;
}

.recipe-details-container {
  border: solid;
  border-color: lightgray;
  border-radius: 10px;
  border-width: 1px;
  overflow: hidden;
  width: 100%;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  margin-top: 20px;
  background-color: white;
}

.nav-bar {
  display: flex;
  width: 80px;
  font-family: Nosifer, cursive;
  height: 70px;
}

.nav-bar .nav-item {
  cursor: pointer;
  font-size: 14px;
  align-self: end;
  font-family: Roboto, sans-serif;
  margin: 10px;
  margin-left: 75px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.top-header .new-btn {
  align-self: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  border-radius: 4px;
  text-align: center;
  padding-bottom: 56px;
  padding-top: 56px;
}

.modal-button-confirm {
  background-color: #cc97d4;
  cursor: pointer;
  border: none;
  padding: 6px;
  padding-right: 12px;
  padding-left: 12px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  float: right;
}

.modal-button-cancel {
  background-color: grey;
  cursor: pointer;
  border: none;
  padding: 6px;
  padding-right: 12px;
  padding-left: 12px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  float: left;
}

.recipe-trash {
  align-self: center;
  color: pink;
  padding: 4px;
  float: left;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .recipe-list {
    width: 24%;
    display: unset;
    height: 120px;
  }

  .image-recipe {
    width: 120px;
  }

  .recipe-photo {
    width: 114px;
    height: 70px;
    cursor: pointer;
  }

  .recipe-title {
    width: unset;
    display: flex;
  }

  .recipe-para {
    font-size: 10px;
    color: #208bff;
    padding: unset;
    padding-left: 5px;
  }

  .recipe-trash {
    align-self: center;
    color: pink;
    padding: 4px;
    cursor: pointer;
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 56px;
    padding-top: 56px;
  }

  .modal-button-confirm {
    background-color: #cc97d4;
    cursor: pointer;
    border: none;
    padding: 6px;
    padding-right: 18px;
    padding-left: 18px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    float: right;
  }

  .modal-button-cancel {
    background-color: grey;
    cursor: pointer;
    border: none;
    padding: 6px;
    padding-right: 18px;
    padding-left: 18px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    float: left;
  }

  h3 {
    padding-left: 100px;
  }

  ul {
    padding-left: 140px;
    padding-right: 140px;
  }

  ol {
    padding-left: 140px;
    padding-right: 140px;
  }
}

@media only screen and (min-width: 1280px) {
  .recipe-list {
    width: 24%;
    display: unset;
    height: 120px;
  }

  .image-recipe {
    width: 120px;
  }

  .recipe-photo {
    width: 114px;
    height: 70px;
    cursor: pointer;
  }

  .recipe-title {
    width: unset;
    display: flex;
  }

  .recipe-para {
    font-size: 10px;
    color: #208bff;
    padding: unset;
    padding-left: 5px;
  }

  .recipe-trash {
    align-self: center;
    color: pink;
    padding: 4px;
    cursor: pointer;
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 56px;
    padding-top: 56px;
  }

  .modal-button-confirm {
    background-color: #cc97d4;
    cursor: pointer;
    border: none;
    padding: 6px;
    padding-right: 18px;
    padding-left: 18px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    float: right;
  }

  .modal-button-cancel {
    background-color: grey;
    cursor: pointer;
    border: none;
    padding: 6px;
    padding-right: 18px;
    padding-left: 18px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    float: left;
  }

  h3 {
    padding-left: 100px;
  }

  ul {
    padding-left: 140px;
    padding-right: 140px;
  }

  ol {
    padding-left: 140px;
    padding-right: 140px;
  }
}
